# ----------------------------
# ENVIRONNEMENT PYTHON
# ----------------------------
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# DEPENDANCES FRONTEND (React)
# ----------------------------
node_modules/
dist/
build/

# ----------------------------
# LOGS ET FICHIERS TEMPORAIRES
# ----------------------------
*.log
*.tmp
*.swp
*.swo

# ----------------------------
# CONFIGURATION IDE (VS Code, PyCharm)
# ----------------------------
.vscode/
.idea/

# ----------------------------
# DOCKER
# ----------------------------
*.pid
docker-compose.override.yml

# ----------------------------
# AUTRES FICHIERS DU SYSTÈME
# ----------------------------
.DS_Store
Thumbs.db
