version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  collector-test:
    build: ./collector
    container_name: collector-test
    depends_on:
      - mongo
    command: ["python", "collector.py", "test"]

  api:
    build: ./api
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - mongo


  test-unit-api:
    image: python:3.11-slim
    container_name: test-unit-api
    volumes:
      - ./api:/app
    working_dir: /app
    command: >
      sh -c "
        pip install pytest fastapi httpx pymongo &&
        python -m pytest test_api.py -v
      "
  scheduler:
    build: ./collector
    container_name: scheduler
    command: celery -A tasks beat --loglevel=info
    depends_on:
      - mongo
      - redis

  worker:
    build: ./collector
    container_name: worker
    command: celery -A tasks worker --loglevel=info
    depends_on:
      - mongo
      - redis

  test-integration:
    image: python:3.11-slim
    container_name: test-integration
    volumes:
      - ./collector:/app
    working_dir: /app
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/
    command: >
      sh -c "
        apt-get update && apt-get install -y curl &&
        pip install pytest pymongo requests &&
        # Attendre que MongoDB soit prêt
        until curl -f http://mongo:27017/ 2>/dev/null; do
          echo ' En attente de MongoDB...' && sleep 2;
        done &&
        echo ' MongoDB prêt. Lancement des tests...' &&
        python -m pytest test_integration_collector.py -v
      "
  ci-test-collector:
    build: ./collector
    volumes:
      - ./collector:/app
    working_dir: /app
    depends_on:
      - mongo
    command: >
      sh -c "
        pip install pytest pymongo requests &&
        until timeout 1 curl -f http://mongo:27017/ 2>/dev/null; do sleep 1; done &&
        python -m pytest test_integration_collector.py -v
      "
  test-integration-api:
    image: python:3.11-slim
    volumes:
      - ./api:/app
    working_dir: /app
    depends_on:
      - mongo
    command: >
      sh -c "
        pip install pytest httpx pymongo &&
        until timeout 1 curl -f http://mongo:27017/ 2>/dev/null; do sleep 1; done &&
        python -m pytest test_integration_api.py -v
      "
volumes:
  mongodb_data: