version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  collector-test:
    build: ./collector
    container_name: collector-test
    depends_on:
      - mongo
    command: ["python", "collector.py", "test"]

  api:
    build: ./api
    container_name: fastapi
    ports:
      - "8000:8000"
    depends_on:
      - mongo

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  scheduler:
    build: ./collector
    container_name: scheduler
    command: celery -A tasks beat --loglevel=info
    depends_on:
      - mongo
      - redis

  worker:
    build: ./collector
    container_name: worker
    command: celery -A tasks worker --loglevel=info
    depends_on:
      - mongo
      - redis

volumes:
  mongodb_data: