name: Test Intégration - Collector

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Lancer MongoDB et exécuter le test
        run: |
          docker-compose up -d mongo
          sleep 10
          docker-compose run --rm ci-test-collector

      - name: Nettoyer
        if: always()
        run: |
          docker-compose down -v